# 데이터 전처리 방법 실습

In [4]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 데이터 로딩 및 df 만들기

In [34]:
df = pd.read_csv("./datas_ml/Data.csv")

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [36]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [37]:
df['Purchased'].value_counts()

Purchased
No     5
Yes    5
Name: count, dtype: int64

In [38]:
df.columns

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [39]:
df['Country'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

# 결측치(NaN) 처리

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [41]:
df.isna().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

## 결측치 처리 방법
- 삭제하던가, 채우던가

### 삭제 하기

In [42]:
# 삭제. nan이 포함된 행(row) 삭제함
df.dropna()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [43]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

### 채우기 전략
- 0, 평균, 중앙값, 최빈값

In [44]:
df.fillna(0)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      0.0       Yes
5   France  35.0  58000.0       Yes
6    Spain   0.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [45]:
df['Age'].mean()

np.float64(38.77777777777778)

In [46]:
df.mean(numeric_only=True)

Age          38.777778
Salary    63777.777778
dtype: float64

In [47]:
# 숫자 컬럼의 평균값으로 결측치 채우기
df.fillna(df.mean(numeric_only=True))

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [ ]:
# nan을 삭제하고 df에 저장
df = df.dropna()
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [49]:
# index 초기화(reset) 하기
df = df.reset_index(drop=True)
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4   France  35.0  58000.0       Yes
5   France  48.0  79000.0       Yes
6  Germany  50.0  83000.0        No
7   France  37.0  67000.0       Yes

# x, y 데이터를 분리(분할)
- x : 독립변수(Feature)
- Y : 종속변수(target, label)

In [50]:
 df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4   France  35.0  58000.0       Yes
5   France  48.0  79000.0       Yes
6  Germany  50.0  83000.0        No
7   France  37.0  67000.0       Yes

In [51]:
# 우기가 예측하고자 하는 것 y
y = df['Purchased']
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
Name: Purchased, dtype: object

In [52]:
# X 컬럼: Country, Age, Salary
# X = df.loc[행,열]
X = df.loc[:, 'Country':'Salary']
X

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4   France  35.0  58000.0
5   France  48.0  79000.0
6  Germany  50.0  83000.0
7   France  37.0  67000.0

In [53]:
df['Country'].value_counts()

Country
France     4
Spain      2
Germany    2
Name: count, dtype: int64

# 레이블 인코딩, One Hot Encoding
- 범주형(문자) 데이터를 -> 숫자로 변환
- 레이블 인코딩 : 문자열 -> 0, 1, 2
- One Hot Encoding :

## 레이블 인코딩하는 방법

In [64]:
# 라이브러리 로딩
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [55]:
# 객체 생성
encoder = LabelEncoder()

In [56]:
encoder

LabelEncoder()

In [58]:
X['Country']

0     France
1      Spain
2    Germany
3      Spain
4     France
5     France
6    Germany
7     France
Name: Country, dtype: object

In [59]:
X['Country'] = encoder.fit_transform(X['Country'])

In [60]:
X

   Country   Age   Salary
0        0  44.0  72000.0
1        2  27.0  48000.0
2        1  30.0  54000.0
3        2  38.0  61000.0
4        0  35.0  58000.0
5        0  48.0  79000.0
6        1  50.0  83000.0
7        0  37.0  67000.0

## 원핫인코딩하는 방법

In [65]:
from sklearn.compose import ColumnTransformer

In [68]:
# 객체 생성
# ct = ColumnTransformer( [('encoder', OneHotEncoder(), [컬럼인덱스1, 컬럼인덱스2])] )
ct = ColumnTransformer( [('encoder', OneHotEncoder(), [0])] )

In [70]:
X['Country']

0    0
1    2
2    1
3    2
4    0
5    0
6    1
7    0
Name: Country, dtype: int64

In [ ]:
# 변환(원핫인코딩으로)
ct.fit_transform(X)

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [72]:
X.head()

   Country   Age   Salary
0        0  44.0  72000.0
1        2  27.0  48000.0
2        1  30.0  54000.0
3        2  38.0  61000.0
4        0  35.0  58000.0

In [71]:
# France, Germany, Spain
# [1.,    0.,     0.]  
# [0.,    0.,     1.]
# [0.,    1.,     0.]
# [0.,    0.,     1.]
# [1.,    0.,     0.]
# [1.,    0.,     0.]
# [0.,    1.,     0.]
# [1.,    0.,     0.]

In [73]:
X.head()

   Country   Age   Salary
0        0  44.0  72000.0
1        2  27.0  48000.0
2        1  30.0  54000.0
3        2  38.0  61000.0
4        0  35.0  58000.0

In [79]:
# 머신러닝을 위한 one-hot 인코딩 전체 코드
ct = ColumnTransformer( [('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = ct.fit_transform(X)

## y 데이터 인코딩

In [76]:
y.value_counts()

Purchased
No     4
Yes    4
Name: count, dtype: int64

In [77]:
y = y.map({'No':0, 'Yes':1})
y

0    0
1    1
2    0
3    0
4    1
5    1
6    0
7    1
Name: Purchased, dtype: int64

In [81]:
X[:5]

array([[1.0e+00, 0.0e+00, 0.0e+00, 4.4e+01, 7.2e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.7e+01, 4.8e+04],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.0e+01, 5.4e+04],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.8e+01, 6.1e+04],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.5e+01, 5.8e+04]])

In [ ]:
# X, y 인코딩이 끝났으면, Feaure Scaling(특성 스케일링) 진행

# 피처스케일링

In [82]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [90]:
# 표준화(평균 0, 표준편차 1인 정규분포를 따르는 범위 데이터로 변환)
# 객체생성
scaler = StandardScaler()

# 변환
X_scaled = scaler.fit_transform(X)

In [86]:
# 정규화(0~1 사이의 범위 데이터로 변환)
# scaler = MinMaxScaler()
# scaler.fit_transform(X)

In [87]:
# 데이터 전처리한 것들
# 1. 결측치 처리
# 2. X, y 데이터 분리 : 
# 3. X, y 인코딩(문자를 -> 숫자) : ML은 숫자를 입력가능
# 4. Feature Scaling(특성 스케일링) : 데이터의 수준을 맞추기 위함, X(독립변수)만 함.

In [2]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [5]:
df = pd.read_csv('datas_ml/cars.csv')
df

,Brand,Model,Year,Mileage,EngineSize,FuelType,Color,Region,ConditionDesc,SellerType,Price
0,Ford,Escape,2001.0,287486.0,4.800248,Diesel,Black,Daejeon,like new,Dealer,580
1,Mercedes,E-Class,2014.0,168229.0,4.802429,Gasoline,White,Seoul,NaN,Dealer,1835
2,Mercedes,E-Class,2023.0,106081.0,3.293752,Gasoline,Red,Incheon,engine issue,Dealer,2226
3,Kia,Sorento,2009.0,89045.0,3.527349,Gasoline,NaN,Daegu,minor scratch on bumper,Dealer,1050
4,Ford,Escape,2005.0,34698.0,2.793782,Hybrid,Black,Seoul,NaN,Private,1290
...,...,...,...,...,...,...,...,...,...,...,...
295,Ford,Focus,2017.0,178352.0,2.289415,Diesel,Black,Daegu,slight dent,Private,1166
296,Kia,Sorento,2005.0,79459.0,4.239498,Hybrid,Black,Busan,needs painting,Dealer,1045
297,Hyundai,Tucson,2018.0,195004.0,2.018563,Gasoline,Gray,Seoul,no major problems,Dealer,1265
298,Mercedes,C-Class,2021.0,200968.0,3.726011,Gasoline,Black,Busan,no major problems,Dealer,1947
299,Ford,Escape,2011.0,59163.0,4.040911,Gasoline,Red,Incheon,engine issue,Private,1489

In [6]:
df.shape

(300, 11)

In [7]:
df.isna().sum()

Brand             0
Model             0
Year             15
Mileage          20
EngineSize        0
FuelType          0
Color            10
Region            8
ConditionDesc    25
SellerType        0
Price             0
dtype: int64

In [8]:
df_clean = df.dropna().copy()
df_clean

,Brand,Model,Year,Mileage,EngineSize,FuelType,Color,Region,ConditionDesc,SellerType,Price
0,Ford,Escape,2001.0,287486.0,4.800248,Diesel,Black,Daejeon,like new,Dealer,580
2,Mercedes,E-Class,2023.0,106081.0,3.293752,Gasoline,Red,Incheon,engine issue,Dealer,2226
6,Ford,Explorer,2023.0,22671.0,2.314658,EV,Black,Daegu,regular maintenance done,Private,2058
8,Mercedes,E-Class,2001.0,51663.0,4.009498,Diesel,Gray,Daejeon,dashboard damage,Private,1371
9,BMW,X5,2020.0,15708.0,4.166316,Hybrid,Black,Busan,noise in suspension,Private,2342
...,...,...,...,...,...,...,...,...,...,...,...
295,Ford,Focus,2017.0,178352.0,2.289415,Diesel,Black,Daegu,slight dent,Private,1166
296,Kia,Sorento,2005.0,79459.0,4.239498,Hybrid,Black,Busan,needs painting,Dealer,1045
297,Hyundai,Tucson,2018.0,195004.0,2.018563,Gasoline,Gray,Seoul,no major problems,Dealer,1265
298,Mercedes,C-Class,2021.0,200968.0,3.726011,Gasoline,Black,Busan,no major problems,Dealer,1947
299,Ford,Escape,2011.0,59163.0,4.040911,Gasoline,Red,Incheon,engine issue,Private,1489

In [9]:
df_clean.shape

(227, 11)

In [10]:
# y
y = df['Price']
y

0       580
1      1835
2      2226
3      1050
4      1290
       ...
295    1166
296    1045
297    1265
298    1947
299    1489
Name: Price, Length: 300, dtype: int64

In [11]:
X = df_clean.drop('Price', axis=1)
X

,Brand,Model,Year,Mileage,EngineSize,FuelType,Color,Region,ConditionDesc,SellerType
0,Ford,Escape,2001.0,287486.0,4.800248,Diesel,Black,Daejeon,like new,Dealer
2,Mercedes,E-Class,2023.0,106081.0,3.293752,Gasoline,Red,Incheon,engine issue,Dealer
6,Ford,Explorer,2023.0,22671.0,2.314658,EV,Black,Daegu,regular maintenance done,Private
8,Mercedes,E-Class,2001.0,51663.0,4.009498,Diesel,Gray,Daejeon,dashboard damage,Private
9,BMW,X5,2020.0,15708.0,4.166316,Hybrid,Black,Busan,noise in suspension,Private
...,...,...,...,...,...,...,...,...,...,...
295,Ford,Focus,2017.0,178352.0,2.289415,Diesel,Black,Daegu,slight dent,Private
296,Kia,Sorento,2005.0,79459.0,4.239498,Hybrid,Black,Busan,needs painting,Dealer
297,Hyundai,Tucson,2018.0,195004.0,2.018563,Gasoline,Gray,Seoul,no major problems,Dealer
298,Mercedes,C-Class,2021.0,200968.0,3.726011,Gasoline,Black,Busan,no major problems,Dealer
299,Ford,Escape,2011.0,59163.0,4.040911,Gasoline,Red,Incheon,engine issue,Private

In [12]:
# 컬럼 삭제
X = X.drop('ConditionDesc', axis=1)

In [13]:
X

,Brand,Model,Year,Mileage,EngineSize,FuelType,Color,Region,SellerType
0,Ford,Escape,2001.0,287486.0,4.800248,Diesel,Black,Daejeon,Dealer
2,Mercedes,E-Class,2023.0,106081.0,3.293752,Gasoline,Red,Incheon,Dealer
6,Ford,Explorer,2023.0,22671.0,2.314658,EV,Black,Daegu,Private
8,Mercedes,E-Class,2001.0,51663.0,4.009498,Diesel,Gray,Daejeon,Private
9,BMW,X5,2020.0,15708.0,4.166316,Hybrid,Black,Busan,Private
...,...,...,...,...,...,...,...,...,...
295,Ford,Focus,2017.0,178352.0,2.289415,Diesel,Black,Daegu,Private
296,Kia,Sorento,2005.0,79459.0,4.239498,Hybrid,Black,Busan,Dealer
297,Hyundai,Tucson,2018.0,195004.0,2.018563,Gasoline,Gray,Seoul,Dealer
298,Mercedes,C-Class,2021.0,200968.0,3.726011,Gasoline,Black,Busan,Dealer
299,Ford,Escape,2011.0,59163.0,4.040911,Gasoline,Red,Incheon,Private

In [14]:
# X 문자열 컬럼 2개인지, 3개 이상인지 확인
X['Brand'].nunique()

5

In [15]:
X['Model'].nunique()

20

In [16]:
X['FuelType'].nunique()

4

In [17]:
X['Color'].nunique()

6

In [18]:
X['Region'].nunique()

5

In [19]:
X['SellerType'].nunique()

2

# train, test 데이터 분할하기

In [91]:
X_scaled

array([[ 1.        , -0.57735027, -0.57735027,  0.69985807,  0.58989097],
       [-1.        , -0.57735027,  1.73205081, -1.51364653, -1.50749915],
       [-1.        ,  1.73205081, -0.57735027, -1.12302807, -0.98315162],
       [-1.        , -0.57735027,  1.73205081, -0.08137885, -0.37141284],
       [ 1.        , -0.57735027, -0.57735027, -0.47199731, -0.6335866 ],
       [ 1.        , -0.57735027, -0.57735027,  1.22068269,  1.20162976],
       [-1.        ,  1.73205081, -0.57735027,  1.48109499,  1.55119478],
       [ 1.        , -0.57735027, -0.57735027, -0.211585  ,  0.1529347 ]])

In [88]:
from sklearn.model_selection import train_test_split

In [92]:
# train:test -> 8:2   
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=42)

In [94]:
X_train.shape, y_train.shape

((6, 5), (6,))

In [95]:
X_test.shape, y_test.shape

((2, 5), (2,))