In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datas_ml/pima-indians-diabetes.csv')
df.head()

   Preg  Plas  Pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    768 non-null    int64
 2   Pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   test    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
df.describe()

,Preg,Plas,Pres,skin,test,mass,pedi,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
df.columns

Index(['Preg', 'Plas', 'Pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'], dtype='object')

In [6]:
import numpy as np

In [7]:
df.loc[:, 'Plas':'mass'].replace(0, np.nan)

      Plas  Pres  skin   test  mass
0    148.0  72.0  35.0    NaN  33.6
1     85.0  66.0  29.0    NaN  26.6
2    183.0  64.0   NaN    NaN  23.3
3     89.0  66.0  23.0   94.0  28.1
4    137.0  40.0  35.0  168.0  43.1
..     ...   ...   ...    ...   ...
763  101.0  76.0  48.0  180.0  32.9
764  122.0  70.0  27.0    NaN  36.8
765  121.0  72.0  23.0  112.0  26.2
766  126.0  60.0   NaN    NaN  30.1
767   93.0  70.0  31.0    NaN  30.4

[768 rows x 5 columns]

In [8]:
# df.loc[:, 'Plas':'mass'] = df.loc[:, 'Plas':'mass'].replace(0, np.nan)
cols = df.loc[:, 'Plas':'mass'].columns
df[cols] = df[cols].replace(0, np.nan)

In [9]:
df

     Preg   Plas  Pres  skin   test  mass   pedi  age  class
0       6  148.0  72.0  35.0    NaN  33.6  0.627   50      1
1       1   85.0  66.0  29.0    NaN  26.6  0.351   31      0
2       8  183.0  64.0   NaN    NaN  23.3  0.672   32      1
3       1   89.0  66.0  23.0   94.0  28.1  0.167   21      0
4       0  137.0  40.0  35.0  168.0  43.1  2.288   33      1
..    ...    ...   ...   ...    ...   ...    ...  ...    ...
763    10  101.0  76.0  48.0  180.0  32.9  0.171   63      0
764     2  122.0  70.0  27.0    NaN  36.8  0.340   27      0
765     5  121.0  72.0  23.0  112.0  26.2  0.245   30      0
766     1  126.0  60.0   NaN    NaN  30.1  0.349   47      1
767     1   93.0  70.0  31.0    NaN  30.4  0.315   23      0

[768 rows x 9 columns]

In [10]:
df.isna().sum()

Preg       0
Plas       5
Pres      35
skin     227
test     374
mass      11
pedi       0
age        0
class      0
dtype: int64

In [11]:
df = df.dropna()

In [12]:
df = df.reset_index(drop=True)
df.head()

   Preg   Plas  Pres  skin   test  mass   pedi  age  class
0     1   89.0  66.0  23.0   94.0  28.1  0.167   21      0
1     0  137.0  40.0  35.0  168.0  43.1  2.288   33      1
2     3   78.0  50.0  32.0   88.0  31.0  0.248   26      1
3     2  197.0  70.0  45.0  543.0  30.5  0.158   53      1
4     1  189.0  60.0  23.0  846.0  30.1  0.398   59      1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    392 non-null    int64
 1   Plas    392 non-null    float64
 2   Pres    392 non-null    float64
 3   skin    392 non-null    float64
 4   test    392 non-null    float64
 5   mass    392 non-null    float64
 6   pedi    392 non-null    float64
 7   age     392 non-null    int64
 8   class   392 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 27.7 KB

In [14]:
df.describe()

,Preg,Plas,Pres,skin,test,mass,pedi,age,class
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,3.301020,122.627551,70.663265,29.145408,156.056122,33.086224,0.523046,30.864796,0.331633
std,3.211424,30.860781,12.496092,10.516424,118.841690,7.027659,0.345488,10.200777,0.471401
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,21.000000,76.750000,28.400000,0.269750,23.000000,0.000000
50%,2.000000,119.000000,70.000000,29.000000,125.500000,33.200000,0.449500,27.000000,0.000000
75%,5.000000,143.000000,78.000000,37.000000,190.000000,37.100000,0.687000,36.000000,1.000000
max,17.000000,198.000000,110.000000,63.000000,846.000000,67.100000,2.420000,81.000000,1.000000

# X,y 구분

In [15]:
df.columns

Index(['Preg', 'Plas', 'Pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class'], dtype='object')

In [17]:
y = df['class']

In [18]:
X = df.drop('class',axis=1)

In [19]:
X.shape, y.shape

((392, 8), (392,))